@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/*@media (max-width: 600px) {
    nav {
        background-color: red;
    }
  }*/

  @media (max-width: 600px) {    
    #hero {
        border: 3px solid red;  
    }
  }

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

html {
    background-color: #FAFAFF;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

h1 {
    color: #FAFAFF;
    font-weight: 800;
    text-align: center;
}

h3, p {
    color: #FAFAFF;
    text-shadow: 2px 2px #222233;
}

h4 {
    color: #F7B2AD;;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #272e42;
    height: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: #FAFAFF;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

nav a:hover {
    color: #F7B2AD;
}

nav a:active {
    color: #F7B2AD;
}

.mrAuto {
    margin-right: auto;
}

/*.fullWidth {
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}*/

#jumbotron {
    padding-top: 1rem;
    font-weight: 500;
    background-color: #222233;
    height: 100%;
    width: auto;
}

#jumbotron h1 {
    color: #FAFAFF;
    text-shadow: 2px 2px #222233;
    font-weight: 800;
    text-align: center;
}

.jumboCenter {
    margin: 0 auto;
    padding: 2rem 0 2rem;
    width: 100vw;
    height: 100%;
    width: auto;
}

#jumbotron p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #FAFAFF;
}

#intro {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

#hero {
    border-radius: 50%;
    display: block;
    margin: 2rem auto 1rem auto;
    width: 18rem;
    border: 3px solid #272e42;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#works {
    background-color: #222233;
    border-top: 3px solid #444B6E;
    border-bottom: 3px solid #444B6E;
    padding-top: 1.8rem;
    padding-bottom: 2rem;
    width: 100%;
}

#works h1 {
    margin: 2rem 0 0 0;
    color: #D8DBE2;
}

#worksWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 3rem 0 3rem;
}

.parallax {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/parallax.jpg');
    height: 100%;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    margin: 3rem auto;
    max-width: 25rem;
    text-align: justify;
}

.workShowcase {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 2rem auto;
    background-color: rgb(41, 44, 61);
    border-bottom: 2px solid #F7B2AD;
    flex-shrink: 1;
    width: 50%;
}

.responsive {
    width: 100%;
    height: auto;
}

.workShowcase:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.workShowcaseContainer {
    padding: 2px 16px;
}

#skills {
    padding-top: 2rem;
    background-color: #222233;
    border-bottom: 3px solid #444B6E;
}

#skills h1 {
    margin: 2rem 0 3rem 0;
    color: #D8DBE2;
}

#skillsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 3rem 0 3rem;
}

.skillWrap {
    align-content: center;
    text-align: center;
}

.skill {
    width: 200px;
    height: 200px;
    margin: auto;
}

.skillIcon {
    font-size: 5rem;
    color: #53A2BE;
    justify-content: center;
    align-content: center;
}

#contact {
    background-color: #222233;
    border-bottom: 3px solid #444B6E;
    display: flex;
}

#contact h1 {
    margin: 2rem 0 3rem 0;
    color: #D8DBE2;
}

#contact i {
    color: #FAB3A9;
    font-size: 1,8rem;
    margin-right: 1rem;
}

#contact a {
    color: #FAFAFF;
}

#contact a:hover {
    color: #F7B2AD;
}

#footer {
    padding: 0.5rem 0 0.5rem 0;
    background-color: #222233;
}

#footer p {
    color: #53A2BE;
    text-align: center;
}